<footer class="footer">
    <div class="footer__block">
        <p class="footer__span">Done by</p>
        <h2 class="footer__header">Akim Grakovskiy</h2>    
        <address class="footer__contact">
            <a href="mailto:aakim5586@gmail.com" class="link">Email</a>
        </address>
        <address class="footer__contact">
            <a href="https://www.linkedin.com/in/akimgrakovskiy" class="link">LinkedIn</a>
        </address>
        <address class="footer__contact">
            <a href="https://github.com/Akim3351" class="link">Github</a>
        </address>
    </div>
    <div class="footer__block">
        <p class="footer__span">Oh, by the way!</p>
        <a href="https://akim3351.github.io/mycurrencyconverter/" class="link">Also check out my currency converter !)</a>
    </div>

</footer>