<section class="main__wrapper">
    <div class="hero">
        <form>
            <div>
                <p>
                    Enter room measurements ...
                </p>
                <input type="number">
                <input type="number">
            </div>

            <div>
                <p>
                    ... and enter roll`s size
                </p>
                <input type="number">
                <input type="number">
            </div>
            <div>
                <input type="checkbox"> <p> my room has doors and windows:</p>
            </div>
            <button type="button" id="addinputbutton">Add door/window size</button>
            <div id="doorsinputwrapper" class="door__wrapper">
                <ul class="inputs__list" id="inputslist">
                </ul>
            </div>
        </form>
    </div>
</section>